altgraph==0.17.5
certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
packaging==25.0
pefile==2024.8.26
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
PyMySQL==1.1.2
pyTelegramBotAPI==4.29.1
pywin32-ctypes==0.2.3
requests==2.32.5
setuptools==80.9.0
style==1.1.0
telebot==0.0.5
telegram==0.0.1
update==0.0.1
urllib3==2.5.0
